.cards__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
  list-style: none;
  margin: 60px 100px 0 0;
  padding: 0;
}

.cards__item:nth-of-type(3) {
  margin-right: 0;
}
