.page {
  box-sizing: border-box;
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* * {border: 1px solid red;} */

.header {
  height: 100vh;
  max-height: 756px;
  min-height: 600px;
  display: flex;
  position: relative;
  align-items: center;
  background-color: #f2f2f2;
  z-index: -3;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  margin: 0;
  padding: 0 0 0 64px;
  color: black;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  padding: 0;
  margin: 0;
  color: black;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.header__square-pic {
  position: absolute;
  width: 568px;
  height: 568px;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: -2;

}

.description {
  display: flex;
  box-sizing: border-box;
  align-content: center;
  justify-content: center;
  margin: 100px 0;
}

.two-columns {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  padding: 0;
  margin: 0;
  width: 175px;
  min-width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  flex-direction: column;
  width: 80%;
  min-width: 784px;
  justify-content: space-between;
}

.two-columns__span-accent {
  margin: 0;
  padding: 0;
  color: black;
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  padding: 0;
  color: black;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:nth-last-child(1){
  margin: 0;
}

.digits {
  box-sizing:border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 100px;
}

.section-title{
  padding: 0 0 20px;
  margin: 0;
  width: 60%;
  color: black;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitile{
  padding: 0;
  margin: 0;
  width: 60%;
  color: black;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  box-sizing: border-box;
  width: 1100px;
  display: flex;
  flex-flow: row wrap;
  justify-content:space-between;
}

.table__cell {
  width: 250px;
  padding-top: 60px;
  list-style: none;
}

.table__heading {
  margin: 0;
  padding: 0 0 20px;
  color: black;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  padding: 0 0 20px;
  margin: 0;
  color: black;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text:nth-last-child(1) {
  padding: 0;
}

.feynman {
  box-sizing: border-box;
  position: relative;
  padding-top: 100px;
  background-color: #f2f2f2;
  height: 890px;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-position: bottom left;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__title {
  width: 648px;
  margin: 0 0 70px;
  margin: 0;
  color: black;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
}

.feynman__subtitle {
  margin: 0;
  padding: 0;
  color: black;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position:absolute;
  right: 48px;
  top: 50%;
  margin: 0;
  padding: 0;
  color: #2f80ed;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.kaufman {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 90px 0;
  background-color: #1f1f1f;
  z-index: -1;
  overflow: hidden;
}

.table__cell_theme_dark {
  width: 200px;
  padding-top: 80px;
}

.section-title_theme_dark {
  color:white;
}

.section-subtitile_theme_dark {
  color:white;
}

.table__heading_theme_dark {
  color:white;
}

.table__text_theme_dark {
  color:white;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  width: 877px;
  height: 877px;
  z-index: -1;
}

.footer {
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  margin: 60px auto 40px;
  width: 90%;
  max-height: 100%;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  background-repeat: no-repeat;
  background-size: 228px 32px;
}

.footer__author {
  color: white;
  margin: 18px 0 18px 0px;
  padding: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 0 0 16px 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0 0 20px 0;
  padding: 0;
  color:white;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-link {
  text-decoration: none;
  color:white;
}

.footer_social-icon {
  size: 16px 16px;
  margin: 0 10px 0 0;
}
